@media only screen and (max-width: 768px) {

    #large {
        display: none;
    }

    .small,
    #small {
        display: contents;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    a.closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    p,
    label,
    input,
    textarea {
        font-size: 14px !important;
    }

    .banner-title,
    .work-header,
    .scrshot-title,
    .services-header,
    .features-header,
    .contact-head {
        font-size: 34px;
    }

    #reverseonmobile {
        flex-flow: column-reverse;
    }

    h2.work-header {
        margin-top: 20px;
    }

    #slideshow {
        display: none;
    }

    .hero-content {
        background: url(../images/header-bg.jpg) no-repeat center;
        background-size: cover;
    }
}