@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

html {
    scroll-behavior: smooth;
}

*,
body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

img {
    object-fit: cover;
}

nav {
    z-index: 9;
}

#small,.small {
    display: none;
}
.sticky {
    position: fixed !important;
    width: 100% !important;
    background: #00000029 !important;
}

#hero_banner {
    width: 100%;
    height: 735px;
    overflow: hidden;
}

.hero-content {
    width: 100%;
    height: 735px;
    overflow: hidden;
    background: #0006;
    position: absolute;
    top: 0;
}

#slideshow {
    margin-top: -103px;
}

ul.uk-slideshow-items {
    min-height: 735px !important;
}

.banner-title,
.work-header,
.scrshot-title,
.services-header,
.features-header,
.contact-head {
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Open Sans', sans-serif;
    font-size: 58px;
    color: #967d3e;
}

/* testimonials */
#testimonials {
    background: url(../images/header-bg.jpg)no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

.testcontent {
    height: 400px;
}

.testimonials-img {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
}

p.testimonial-content {
    width: 90%;
    margin: auto;
    line-height: 1.8;
}

.contact-form {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
}

/* top-services */
#top-services {
    position: relative;
}

.serv {
    padding: 24px 16px 16px;
    margin: 1rem auto;
}

.serv:hover {
    background: #dddddd1a;
    border-radius: 10px;
}

.serv img {
    background: floralwhite;
    height: 84px;
    width: 84px;
    border-radius: 50%;
    padding: 1rem;
}

.serv p {
    margin: 0;
    margin-top: 16px;
    font-size: 13px;
    line-height: 16px;
}

/* features */
.feature-heading-img {
    min-width: 70px;
    height: 70px;
    object-fit: cover;
}

.soical i {
    font-size: 24px;
    color: #3b3b3b;
}